{{#if showTimezones}}
  <table id="time-table">
    <thead id="header">{{header}}</thead>
    <tbody id="body">
    {{#each people as |person|}}
      <Team-display-row @person={{person}}/>
    {{/each}}
    <tr id="footer">{{footer}}</tr>
    </tbody>
  </table>
{{/if}}